@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Montserrat;
}
.rey {
    color: white;
    padding: 2px 15px 20px;
    margin-bottom: 10px;
    width: 47%;
    box-sizing: border-box;
}
img {
    width: 100%;
}
.cajaCentral {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cuadroDePago {
    width: 200px;
    height: 275px;
    border: 1px solid grey;
    padding-left: 20px;
    border-radius: 10px;
}
input {
    text-align: right;
    border: 1px solid darkred;
    outline: none;
}
button {
    color: darkred;
    border: 1px solid darkred;
    padding: 5px 10px;
    border-radius: 4px;
}